h1 {
    font-size: 100px;
    font-family: "Courier New", Courier, monospace;
    padding: 30px;
    text-align: center;
  }
  body {
    background-color: #cde0f7;
    font-family: "Work Sans", sans-serif;
  }